<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.icia.mgs.dao.MemberDAO">

    <!--  회원검색  -->
    <select id="searchList" parameterType="search" resultType="member">
        SELECT * FROM MEMBERS WHERE ${category} LIKE '%${keyword}%'
    </select>

    <!--  이메일 중복확인  -->
    <select id="emailCheck2">
        SELECT * FROM MEMBERS WHERE MEMAIL = #{mEmail}
    </select>

    <select id="findByMIdAndMPw">
        SELECT * FROM MEMBERS WHERE MID=#{mId} and MPW=#{mPw}
    </select>

    <select id="emailCheck3">
        SELECT * FROM MEMBERS WHERE MEMAIL = #{mEmail}
    </select>

</mapper>